body {
  background-color: #ede9d2;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#reviews {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: min(20px, 4vw);
}

.review {
  position: relative;
}

.review img {
  width: 100%;
  display: block;
}

.review img:hover {
  cursor: pointer;
  transform: scale(1.025);
  box-shadow: 1px 0px 15px 4px #606060;
  transition: all 0.2s;
}

.review-modal {
  max-width: 800px;
  width: calc(100% - 100px);
  border: none;
  border-radius: 8px;
  padding: 2rem;
  background-color: #ede9d2;
}

.review-modal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.review-modal::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.review-modal form {
  text-align: right;
  margin-bottom: 16px;
}

.review-modal h2,
h3,
p {
  margin: 8px 0;
}

.review-modal button {
  height: min-content;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
  font-size: 1.2em;
  background-color: #858585;
  transition: all 0.15s;
}

.review-modal img {
  width: 200px;
}

.review-modal button:hover {
  background-color: #494949;
  cursor: pointer;
}

#book-details {
  display: flex;
  gap: 16px;
}

#book-details h2 {
  margin-top: -6px;
}

.review-summary {
  background-color: #454545;
  font-size: 0.8em;
  color: #ede9d2;
  position: absolute;
  z-index: 1;
  top: 0;
  right: -230px;
  width: 200px;
  border: 5px solid #65a98e;
  border-radius: 5px;
  padding: 8px;
}

#user-comment {
  width: min-content;
  margin-top: 16px;
  text-align: right;
}

#user-comment textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  display: block;
}

#user-comment button {
  margin-top: 8px;
}

.link {
  display: block;
  color: white;
  text-decoration: none;
  background-color: #e68fec;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 4px;
  width: fit-content;
}

@media (width <= 600px) {
  #reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
